appdirs==1.4.4
astroid==2.5.3
board==1.0
certifi==2020.12.5
chardet==4.0.0
Cython==0.29.23
distlib==0.3.1
docutils==0.17.1
filelock==3.0.12
idna==2.10
importlib-metadata==4.0.1
importlib-resources==5.1.2
isort==5.8.0
Kivy==2.0.0
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
lazy-object-proxy==1.6.0
mccabe==0.6.1
Pillow==8.2.0
pkg-resources==0.0.0
Pygments==2.8.1
pylint==2.7.4
requests==2.25.1
six==1.15.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
virtualenv==20.4.4
wrapt==1.12.1
zipp==3.4.1
